## 收集

In [1]:
import pandas as pd

In [2]:
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')

## 评估

In [3]:
patients

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1
5,6,male,Rafael,Costa,1140 Willis Avenue,Daytona Beach,Florida,32114.0,United States,386-334-5237RafaelCardosoCosta@gustr.com,8/31/1931,183.9,70,26.4
6,7,female,Mary,Adams,3145 Sheila Lane,Burbank,NV,84728.0,United States,775-533-5933MaryBAdams@einrot.com,11/19/1969,146.3,65,24.3
7,8,female,Xiuxiu,Chang,2687 Black Oak Hollow Road,Morgan Hill,CA,95037.0,United States,XiuxiuChang@einrot.com1 408 778 3236,8/13/1958,158.0,60,30.9
8,9,male,Dsvid,Gustafsson,1790 Nutter Street,Kansas City,MO,64105.0,United States,816-265-9578DavidGustafsson@armyspy.com,3/6/1937,163.9,66,26.5
9,10,female,Sophie,Cabrera,3303 Anmoore Road,New York,New York,10011.0,United States,SophieCabreraIbarra@teleworm.us1 718 795 9124,12/3/1930,194.7,64,33.4
10,11,female,Sandy,Gunnarsson,87 Wood Duck Drive,Rudyard,MI,49780.0,United States,906-478-8949SandyGunnarsson@dayrep.com,7/16/1974,199.3,62,36.4
11,12,male,Abdul-Nur,Isa,1092 Farm Meadow Drive,Brentwood,TN,37027.0,United States,Abdul-NurMummarIsa@rhyta.com1 931 207 0839,2/3/1954,238.7,73,31.5
12,13,male,Omeokachie,Ibeamaka,2544 Worley Avenue,Lynchburg,VA,24504.0,United States,OmeokachieIbeamaka@einrot.com434-509-2614,8/5/1957,224.2,69,33.1
13,14,female,Anenechi,Chidi,826 Broad Street,Birmingham,AL,35203.0,United States,AnenechiChidi@armyspy.com+1 (205) 417-8095,3/7/1961,228.4,67,35.8
14,15,female,Asia,Woźniak,4970 Heather Sees Way,Tulsa,OK,74105.0,United States,AsiaWozniak@rhyta.com918-712-3469,8/15/1997,112.0,65,18.6
15,16,male,Søren,Lund,2438 Shady Pines Drive,Kingsport,VA,37660.0,United States,276-225-1955SrenFLund@gustr.com,8/23/1922,201.5,64,34.6
16,17,female,Tám,Liễu,2152 Heritage Road,Fresno,California,93706.0,United States,LieuThiThuTam@dayrep.com1 559 765 7836,11/14/1952,183.9,61,34.7
17,18,female,Roxanne,Andreyeva,2103 Edington Drive,Smyrna,GA,30082.0,United States,RoxanneAndreyeva@armyspy.com678-829-8578,7/24/1922,129.1,60,25.2
18,19,male,William,Oates,441 Tibbs Avenue,Ekalaka,MT,59324.0,United States,406-775-2696WilliamVOates@armyspy.com,9/4/1949,202.2,64,34.7
19,20,male,Zak,Kelly,994 Hill Croft Farm Road,Oroville,California,95966.0,United States,ZakKelly@rhyta.com1 530 532 8397,12/13/1988,208.8,70,30.0
20,21,female,Sofia,Karlsen,2931 Romano Street,Whitman,MA,2382.0,United States,SofiaTKarlsen@teleworm.us1 781 447 1763,9/24/1934,153.1,66,24.7
21,22,male,Samúel,Guðbrandsson,1904 Granville Lane,Elmsford,NJ,10523.0,United States,973-445-5341SamuelGubrandsson@teleworm.us,4/12/1983,223.7,69,33.0
22,23,male,Manchu,Su,1092 Deans Lane,Pleasantville,NY,10570.0,United States,914-745-6108ManchuSu@einrot.com,1/19/1936,130.7,65,21.7
23,24,male,Lovre,Galić,4941 Marion Drive,Winter Haven,Florida,33830.0,United States,LovreGalic@gustr.com1 813 355 9476,5/26/1960,222.9,66,36.0
24,25,male,Jakob,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
25,26,male,Gregor,Bole,922 Chapmans Lane,Albuquerque,NM,87109.0,United States,GregorBole@gustr.com505-828-4955,6/19/1922,180.8,67,28.3
26,27,female,Ella,Lund,1207 Garfield Road,Peoria,IL,61602.0,United States,309-671-8852EllaLund@armyspy.com,12/19/1933,144.8,61,27.4
27,28,male,Joseph,Tucker,4982 Wood Street,Venice,LA,70091.0,United States,985-814-7603JosephNTucker@rhyta.com,4/10/1959,175.8,72,23.8
28,29,male,Robert,Wolf,2386 Linda Street,Fort Washington,PA,19034.0,United States,RobertWolf@fleckens.hu1 267 895 7462,6/26/1937,206.6,70,29.6
29,30,male,Jake,Jakobsen,648 Old Dear Lane,Port Jervis,New York,12771.0,United States,JakobCJakobsen@einrot.com+1 (845) 858-7707,8/1/1985,155.8,67,24.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
473,474,female,Kate,Wilkinson,664 Lyon Avenue,South Boston,MA,2127.0,United States,KateWilkinson@armyspy.com1 508 905 2371,7/18/1998,175.3,65,29.2
474,475,female,Esperanza,Labrosse,1370 Flint Street,Atlanta,GA,30303.0,United States,EsperanzaLabrosse@armyspy.com678-263-3564,10/7/1961,181.5,63,32.1
475,476,male,Malik,Vaneker,1270 Haul Road,Mountain View,California,94041.0,United States,MalikVaneker@superrito.com650-962-7179,9/25/1953,214.4,67,33.6
476,477,female,Berta,Napolitani,1815 Garrett Street,Philadelphia,PA,19108.0,United States,267-972-3749BertaNapolitani@rhyta.com,12/2/1958,153.3,63,27.2
477,478,male,Juliusz,Majewski,4435 Poe Road,Florence,SC,29501.0,United States,JuliuszMajewski@superrito.com+1 (843) 212-6421,9/29/1966,212.1,69,31.3
478,479,female,Edelma,Villalpando,312 Jim Rosa Lane,San Jose,CA,95134.0,United States,EdelmaVillalpandoSantillan@teleworm.us+1 (415)...,6/24/1977,109.6,63,19.4
479,480,male,Tapa,Arsanukayev,4720 Gordon Street,Ontario,California,91762.0,United States,TapaArsanukayev@dayrep.com1 909 458 2515,9/15/1955,220.0,65,36.6
480,481,male,Nasser,Mansour,547 Weekley Street,San Antonio,TX,78212.0,United States,NasserMazinMansour@fleckens.hu1 210 326 5509,3/25/1938,183.5,66,29.6
481,482,male,Michael,Kristensen,1614 Heather Sees Way,Tulsa,OK,74116.0,United States,MichaelKristensen@gustr.com1 918 706 2776,8/10/1930,154.7,65,25.7
482,483,male,Diogo,Souza,4033 White Avenue,Corpus Christi,TX,78401.0,United States,361-693-4960DiogoBarrosSouza@jourrapide.com,3/3/1945,220.0,65,36.6
483,484,female,Angel,Grant,990 Melville Street,Memphis,TN,38118.0,United States,731-577-0292AngelGrant@fleckens.hu,8/14/1987,123.9,61,23.4
484,485,male,Placido,Udinesi,1094 Jones Avenue,Greensboro,NC,28716.0,United States,336-697-2005PlacidoUdinesi@dayrep.com,5/31/1934,175.8,65,29.3
485,486,male,Trifon,Izmailov,3697 Drainer Avenue,Fort Walton Beach,FL,32548.0,United States,TrifonIzmailov@fleckens.hu1 850 659 0417,2/15/1973,255.9,74,32.9
486,487,male,Samuel,Blix,3488 Clair Street,Waco,TX,76706.0,United States,254-681-4504SamuelBlix@dayrep.com,7/6/1983,211.4,74,27.1
487,488,male,Ivar,Löfgren,1346 Nicholas Street,Ottawa,KS,66067.0,United States,IvarLofgren@armyspy.com1 785 229 1188,11/7/1962,242.4,77,28.7
488,489,male,Mika,Martinsson,962 George Street,Ocala,Florida,34471.0,United States,352-453-4601MikaMartinsson@armyspy.com,1/27/1970,165.0,67,25.8
489,490,female,Jasmine,Sykes,2607 Water Street,Lafayette,California,94549.0,United States,JasmineSykes@jourrapide.com925-283-5425,12/1/1988,187.2,63,33.2
490,491,male,Jackson,Addison,1160 Taylor Street,New Rochelle,New York,10801.0,United States,914-636-9304JacksonAddison@armyspy.com,5/29/1953,192.7,69,28.5
491,492,female,Vanessa,Ferguson,241 Freshour Circle,San Antonio,TX,78205.0,United States,210-222-8684VanessaFerguson@jourrapide.com,9/21/1950,149.8,67,23.5
492,493,male,Poldi,Tar,3958 Liberty Avenue,Burbank,California,91505.0,United States,714-496-2264TarPoldi@superrito.com,5/23/1970,184.6,70,26.5
493,494,female,Fen,Chin,1826 Poplar Chase Lane,Boise,ID,83702.0,United States,FenChin@gustr.com+1 (208) 388-1065,3/18/1997,195.1,68,29.7
494,495,female,Sirkka,Piirainen,4102 Ritter Avenue,Roseville,MI,48066.0,United States,SirkkaPiirainen@teleworm.us+1 (586) 790-0975,1/16/1942,126.3,67,19.8
495,496,male,Hajime,Tsukada,4111 Thunder Road,San Mateo,CA,94403.0,United States,650-570-4896HajimeTsukada@dayrep.com,9/5/1972,168.1,66,27.1
496,497,male,Alexander,Hueber,3868 Freed Drive,Stockton,California,95204.0,United States,AlexanderHueber@jourrapide.com1 209 762 2320,9/12/1942,194.0,72,26.3
497,498,male,Masataka,Murakami,1179 Patton Lane,Tulsa,OK,74116.0,United States,MasatakaMurakami@einrot.com+1 (918) 984-9171,8/19/1937,155.1,72,21.0
498,499,male,Mustafa,Lindström,2530 Victoria Court,Milton Mills,ME,3852.0,United States,207-477-0579MustafaLindstrom@jourrapide.com,4/10/1959,181.1,72,24.6
499,500,male,Ruman,Bisliev,494 Clarksburg Park Road,Sedona,AZ,86341.0,United States,928-284-4492RumanBisliev@gustr.com,3/26/1948,239.6,70,34.4
500,501,female,Jinke,de Keizer,649 Nutter Street,Overland Park,MO,64110.0,United States,816-223-6007JinkedeKeizer@teleworm.us,1/13/1971,171.2,67,26.8
501,502,female,Chidalu,Onyekaozulu,3652 Boone Crockett Lane,Seattle,WA,98109.0,United States,ChidaluOnyekaozulu@jourrapide.com1 360 443 2060,2/13/1952,176.9,67,27.7
502,503,male,Pat,Gersten,2778 North Avenue,Burr,Nebraska,68324.0,United States,PatrickGersten@rhyta.com402-848-4923,5/3/1954,138.2,71,19.3

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [17]:
treatments

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32
5,jasmine,sykes,-,42u - 44u,7.56,7.18,0.38
6,sophia,haugen,37u - 42u,-,7.65,7.27,0.38
7,eddie,archer,31u - 38u,-,7.89,7.55,0.34
8,saber,ménard,-,54u - 54u,8.08,7.70,NaN
9,asia,woźniak,30u - 36u,-,7.76,7.37,NaN
10,joseph,day,29u - 36u,-,7.70,7.19,NaN
11,kristiina,hyypiä,-,36u - 38u,7.87,7.49,0.38
12,roxanne,andreyeva,29u - 38u,-,9.54,9.14,NaN
13,gregor,bole,-,47u - 45u,7.61,7.16,0.95
14,simone,baumgaertner,27u - 37u,-,7.74,7.30,NaN
15,enco,žibrik,55u - 68u,-,7.78,7.34,NaN
16,camilla,zaitseva,28u - 37u,-,7.53,7.13,NaN
17,gina,cain,-,36u - 36u,7.88,7.40,0.98
18,addolorata,lombardi,-,49u - 46u,7.75,7.33,NaN
19,khalid,johnsrud,-,54u - 54u,8.35,7.94,NaN
20,mile,stanić,-,47u - 48u,7.66,7.24,0.92
21,tekla,walczak,29u - 39u,-,7.61,7.29,0.32
22,brancaleone,russo,53u - 60u,-,8.61,8.18,NaN
23,chiemela,tobeolisa,-,43u - 47u,7.59,7.17,NaN
24,isac,berg,31u - 41u,-,9.68,9.29,0.39
25,benoît,bonami,-,44u - 43u,9.82,9.40,0.92
26,suhaim,rahal,-,49u - 47u,7.94,7.50,0.94
27,mizuki,iwata,-,45u - 46u,7.70,7.23,0.97
28,clinton,miller,42u - 51u,-,7.79,7.40,0.39
29,eugene,mironov,42u - 49u,-,7.81,7.48,0.33
...,...,...,...,...,...,...,...
250,chen,yao,-,56u - 57u,7.90,7.51,0.39
251,aksel,vestergaard,-,42u - 38u,9.62,9.29,NaN
252,ellen,luman,-,40u - 39u,9.27,8.77,0.50
253,albino,schiavone,35u - 43u,-,7.56,7.15,NaN
254,jose,combs,-,39u - 36u,7.89,7.42,NaN
255,jia li,teng,48u - 54u,-,7.66,7.32,0.34
256,ilija,horvat,42u - 50u,-,7.77,7.38,0.39
257,mathilde,nørgaard,-,27u - 28u,8.50,8.10,0.90
258,csilla,herczegh,-,43u - 46u,7.71,7.27,NaN
259,aaliyah,rice,-,31u - 31u,7.64,7.33,0.31
260,david,beauvais,-,26u - 23u,7.87,7.47,NaN
261,caroline,shuler,-,50u - 54u,7.63,7.27,NaN
262,alex,crawford,51u - 62u,-,7.69,7.30,0.39
263,rebecca,jephcott,53u - 63u,-,7.96,7.57,0.39
264,chukwumoge,ogochukwu,-,41u - 39u,7.95,7.56,0.39
265,fearne,mcgregor,-,27u - 29u,7.83,7.48,0.35
266,ursula,freud,42u - 54u,-,7.75,7.46,0.29
267,leon,scholz,-,38u - 32u,7.72,7.29,0.93
268,yasmin,araujo,-,51u - 54u,7.82,7.36,0.96
269,hiromu,horikawa,-,47u - 46u,7.77,7.28,NaN
270,mika,martinsson,34u - 43u,-,7.50,7.17,0.33
271,leo,vieira,-,30u - 33u,7.74,7.36,NaN
272,steven,roy,-,41u - 43u,7.87,7.43,0.94
273,kate,wilkinson,36u - 39u,-,7.72,7.20,NaN
274,naja,enoksen,43u - 50u,-,7.98,7.59,NaN
275,albina,zetticci,45u - 51u,-,7.93,7.73,0.20
276,john,teichelmann,-,49u - 49u,7.90,7.58,NaN
277,mathea,lillebø,23u - 36u,-,9.04,8.67,0.37
278,vallie,prince,31u - 38u,-,7.64,7.28,0.36
279,samúel,guðbrandsson,53u - 56u,-,8.00,7.64,0.36

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
adverse_reactions

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
patients.info()

In [ ]:
treatments.info()

In [ ]:
adverse_reactions.info()

In [ ]:
all_columns = pd.Series(list(patients) + list(treatments) + list(adverse_reactions))
all_columns[all_columns.duplicated()]

In [ ]:
list(patients)

In [ ]:
patients[patients['address'].isnull()]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
patients.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
treatments.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
patients.sample(5)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
patients.surname.value_counts()

In [ ]:
patients.address.value_counts()

In [ ]:
patients[patients.address.duplicated()]

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [ ]:
patients.weight.sort_values()

In [ ]:
weight_lbs = patients[patients.surname == 'Zaitseva'].weight * 2.20462
height_in = patients[patients.surname == 'Zaitseva'].height
bmi_check = 703 * weight_lbs / (height_in * height_in)
bmi_check

In [ ]:
patients[patients.surname == 'Zaitseva'].bmi

In [ ]:
sum(treatments.auralin.isnull())

In [ ]:
sum(treatments.novodra.isnull())

#### 质量
##### `patients` 表格
- 邮编是浮点，而不是字符串
- 邮编有时是四位数
- Tim Neudorf 的身高是 27 英尺，而不是 72 英尺
- 有时使用州的全称，其他用简称
- Dsvid Gustafsson
- 缺少人口统计信息 (地址列至联系方式列) ***(无法清理)***
- 错误的数据类型 (指定性别、州、邮编和出生日期列)
- 多个手机号格式
- John Doe 的默认数据
- Jakobsen、Gersten、Taylor 多条记录
- Zaitseva 体重单位是 kgs，不是 lbs 

##### `treatments` 表格
- 缺少 HbA1c 变化
- Auralin 和 Novodra 初始剂量和最终剂量中的字母 'u' 
- 小写形式的姓和名
- 缺少记录 (280 而不是 350)
- 错误的数据类型 (auralin 和 novodra 列)
- HbA1c 变化不准确 (首个 4s 误写为 9s)
- auralin 和 novodra 列中空值用破折号 (-) 表示

##### `adverse_reactions` 表格
- 小写形式的姓和名

#### 清洁度
-  `patients` 表格中的联系方式一列应该拆分为手机号和邮箱两列
-  `treatments` 表格两列中的三个变量 (治疗、初始剂量和最终剂量)
-  不良反应应是 `treatments` 表格的一部分
-  `patients` 表格中的姓和名两列复制到  `treatments` 和 `adverse_reactions` 表格中

## 清理

In [3]:
patients_clean = patients.copy()
treatments_clean = treatments.copy()
adverse_reactions_clean = adverse_reactions.copy()

### 缺失数据

#### `treatments`：缺少记录 (280 而不是 350)

##### 定义
将切口治疗导入一个 DataFrame 中，并它拼接到初始治疗 DataFrame  中。

##### 代码

In [4]:
treatments_cut = pd.read_csv('treatments_cut.csv')
treatments_clean = pd.concat([treatments_clean, treatments_cut],
                             ignore_index=True)

##### 测试

In [6]:
treatments_clean.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [7]:
treatments_clean.tail()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
345,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
346,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
347,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
348,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
349,armina,sauvé,36u - 46u,-,7.86,7.40,NaN

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

#### `treatments`：缺少 HbA1c 变化和 HbA1c 变化不准确 (首个 4s 误写为 9s) 

##### 定义
重新计算 `hba1c_change` 一列： `hba1c_start` 减去 `hba1c_end`。

##### 代码

In [5]:
treatments_clean.hba1c_change = (treatments_clean.hba1c_start - 
                                 treatments_clean.hba1c_end)

##### Test

In [9]:
treatments_clean.hba1c_change.head()

0    0.43
1    0.47
2    0.43
3    0.35
4    0.32
Name: hba1c_change, dtype: float64

### 清洁度

####  `patients` 表格中的联系方式一列包括两个变量：手机号和邮箱

##### 定义
使用正则表达式和 pandas 的 `str.extract` 方法，从 *联系方式* 一列提取变量*手机号* 和 *邮箱* 。完成后删除 *联系方式* 一列。

##### 代码

In [6]:
patients_clean['phone_number'] = patients_clean.contact.str.extract('((?:\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4})', expand=True)

# [a-zA-Z] 表明数据集中的邮箱开头和结尾都是字母
patients_clean['email'] = patients_clean.contact.str.extract('([a-zA-Z][a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+[a-zA-Z])', expand=True)

# Note: axis=1 表明我们参考的是一列，而不是一行
patients_clean = patients_clean.drop('contact', axis=1)

##### 测试

In [10]:
# 确认联系方式一列可以运行
list(patients_clean)

['patient_id',
 'assigned_sex',
 'given_name',
 'surname',
 'address',
 'city',
 'state',
 'zip_code',
 'country',
 'birthdate',
 'weight',
 'height',
 'bmi',
 'phone_number',
 'email']

In [11]:
patients_clean.phone_number.sample(25)

359         254-518-6365
421         870-270-5502
53          617-317-5055
272    +1 (937) 518-7238
325         312 856 6826
208    +1 (817) 909-5667
439         515 362 6574
114         917-256-5329
31          423-538-4887
464         205-467-9279
303         313 589 1746
228         916-379-7480
62          617-883-5967
431         510-376-3772
252         978-243-8596
470         386-234-5932
76          612-925-3123
465         254-582-1795
366         605-250-4942
482         361-693-4960
36          715-562-7013
7           408 778 3236
140         217-421-0935
410         405 449 7960
204         405-234-5350
Name: phone_number, dtype: object

In [13]:
# 确认没有邮箱以整数开头 (正则表达式不能匹配整数)
patients_clean.email.sort_values().head()

404               AaliyahRice@dayrep.com
11          Abdul-NurMummarIsa@rhyta.com
332                AbelEfrem@fleckens.hu
258              AbelYonatan@teleworm.us
305    AddolorataLombardi@jourrapide.com
Name: email, dtype: object

#### `treatments` 表格两列中的三个变量 (治疗、初始剂量和最终剂量)

##### 定义
在 *auralin* 和 *novodra* 两列中加入 *治疗* 和 *剂量* 列 (这时剂量仍然包含初始剂量和最终剂量)。然后使用破折号 ' - ' 把剂量列切分，得到 *初始剂量* 和 *最终剂量* 两列。删除中间使用的 *剂量* 一列。

##### 代码

In [12]:
treatments_clean = pd.melt(treatments_clean, id_vars=['given_name', 'surname', 'hba1c_start', 'hba1c_end', 'hba1c_change'],
                           var_name='treatment', value_name='dose')
treatments_clean = treatments_clean[treatments_clean.dose != "-"]
treatments_clean['dose_start'], treatments_clean['dose_end'] = treatments_clean['dose'].str.split(' - ', 1).str
treatments_clean = treatments_clean.drop('dose', axis=1)

##### 测试

In [13]:
treatments_clean.head()

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u
6,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u
7,eddie,archer,7.89,7.55,0.34,auralin,31u,38u
9,asia,woźniak,7.76,7.37,0.39,auralin,30u,36u

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

#### 不良反应应是 `treatments` 表格的一部分

##### 定义
将 *不良反应* 一列合并到 `treatments` 表格中，按照 *名* 和 *姓*进行合并。

##### 代码

In [7]:
treatments_clean = pd.merge(treatments_clean, adverse_reactions_clean,
                            on=['given_name', 'surname'], how='left')

##### 测试

In [15]:
treatments_clean

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction
0,veronika,jindrová,7.63,7.20,0.43,auralin,41u,48u,NaN
1,skye,gormanston,7.97,7.62,0.35,auralin,33u,36u,NaN
2,sophia,haugen,7.65,7.27,0.38,auralin,37u,42u,NaN
3,eddie,archer,7.89,7.55,0.34,auralin,31u,38u,NaN
4,asia,woźniak,7.76,7.37,0.39,auralin,30u,36u,NaN
5,joseph,day,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia
6,roxanne,andreyeva,9.54,9.14,0.40,auralin,29u,38u,NaN
7,simone,baumgaertner,7.74,7.30,0.44,auralin,27u,37u,NaN
8,enco,žibrik,7.78,7.34,0.44,auralin,55u,68u,NaN
9,camilla,zaitseva,7.53,7.13,0.40,auralin,28u,37u,NaN
10,tekla,walczak,7.61,7.29,0.32,auralin,29u,39u,NaN
11,brancaleone,russo,8.61,8.18,0.43,auralin,53u,60u,NaN
12,isac,berg,9.68,9.29,0.39,auralin,31u,41u,NaN
13,clinton,miller,7.79,7.40,0.39,auralin,42u,51u,throat irritation
14,eugene,mironov,7.81,7.48,0.33,auralin,42u,49u,NaN
15,szilveszter,totth,7.70,7.38,0.32,auralin,35u,39u,NaN
16,alexander,mathiesen,7.96,7.55,0.41,auralin,47u,58u,NaN
17,chỉ,lâm,7.68,7.24,0.44,auralin,45u,48u,NaN
18,władysław,wieczorek,7.92,7.47,0.45,auralin,24u,37u,NaN
19,kristján,ingason,7.92,7.57,0.35,auralin,44u,55u,NaN
20,marija,grubišić,7.53,7.15,0.38,auralin,37u,43u,NaN
21,sauli,koivuniemi,7.67,7.37,0.30,auralin,43u,47u,NaN
22,mariana,souza,7.86,7.51,0.35,auralin,36u,42u,NaN
23,kristoffer,martinsen,9.18,8.64,0.54,auralin,29u,37u,NaN
24,mỹ,quynh,7.61,7.16,0.45,auralin,57u,64u,NaN
25,oles,zhdanov,7.52,7.11,0.41,auralin,54u,67u,NaN
26,triana.,terrazas,7.71,7.34,0.37,auralin,34u,42u,NaN
27,gabryŝ,tomaszewski,7.87,7.47,0.40,auralin,29u,37u,NaN
28,leixandre,alanis,7.74,7.32,0.42,auralin,61u,67u,NaN
29,onyekachukwu,obinna,7.58,7.12,0.46,auralin,37u,46u,NaN
...,...,...,...,...,...,...,...,...,...
320,jane,citizen,7.98,7.60,0.38,novodra,37u,38u,NaN
321,angela,lavrentyev,7.61,7.14,0.47,novodra,28u,24u,NaN
322,edelma,villalpando,7.99,7.56,0.43,novodra,24u,26u,NaN
323,annika,vaara,7.73,7.34,0.39,novodra,20u,21u,NaN
324,chiho,higa,7.71,7.30,0.41,novodra,46u,46u,NaN
325,beatrycze,woźniak,7.54,7.17,0.37,novodra,26u,27u,NaN
326,miłosław,wiśniewski,7.51,7.08,0.43,novodra,34u,33u,injection site discomfort
327,firenze,fodor,7.89,7.55,0.34,novodra,30u,35u,NaN
328,zoe,wellish,7.71,7.30,0.41,novodra,33u,33u,NaN
329,una,traustadóttir,8.00,7.50,0.50,novodra,35u,34u,NaN
330,luboš,pecha,7.79,7.45,0.34,novodra,30u,27u,NaN
331,meaza,brhane,7.70,7.36,0.34,novodra,37u,41u,NaN
332,adlan,shishani,7.84,7.37,0.47,novodra,43u,40u,NaN
333,sofia,hermansen,8.90,8.57,0.33,novodra,34u,34u,injection site discomfort
334,guðni,heimisson,7.64,7.24,0.40,novodra,40u,36u,NaN
335,eufemio,rosario,7.54,7.26,0.28,novodra,37u,40u,NaN
336,dalmacia,madrid,7.67,7.21,0.46,novodra,26u,23u,NaN
337,daimy,tromp,9.41,8.94,0.47,novodra,40u,45u,NaN
338,jeremy,montagu,7.68,7.36,0.32,novodra,52u,52u,NaN
339,nebechi,ekechukwu,7.78,7.39,0.39,novodra,37u,39u,NaN
340,satsita,batukayev,7.63,7.25,0.38,novodra,42u,42u,NaN
341,timothy,cotton,7.92,7.52,0.40,novodra,26u,25u,NaN
342,bjørnar,nilsen,7.99,7.70,0.29,novodra,36u,33u,NaN
343,borna,šlezinger,7.55,7.18,0.37,novodra,42u,41u,NaN
344,mary,adams,7.65,7.26,0.39,novodra,32u,33u,NaN
345,christopher,woodward,7.51,7.06,0.45,novodra,55u,51u,nausea
346,maret,sultygov,7.67,7.30,0.37,novodra,26u,23u,NaN
347,lixue,hsueh,9.21,8.80,0.41,novodra,22u,23u,injection site discomfort
348,jakob,jakobsen,7.96,7.51,0.45,novodra,28u,26u,hypoglycemia
349,berta,napolitani,7.68,7.21,0.47,novodra,42u,44u,injection site discomfort

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

####  `patients` 表格中的姓和名两列复制到 `treatments` 和 `adverse_reactions`表格中，以及小写形式的姓和名 

##### 定义
我们不再需要不良反应表格，所以忽略这部分内容。在 `patients` 表格中，提取病人编号和姓名，然后把这些名字改为小写形式，加入到 `treatments` 表格中。然后删除治疗表格中的姓和名两列 (这样小写形式不再是问题了)。

##### 代码

In [16]:
id_names = patients_clean[['patient_id', 'given_name', 'surname']]
id_names.given_name = id_names.given_name.str.lower()
id_names.surname = id_names.surname.str.lower()
treatments_clean = pd.merge(treatments_clean, id_names, on=['given_name', 'surname'])
treatments_clean = treatments_clean.drop(['given_name', 'surname'], axis=1)

/opt/conda/lib/python3.6/site-packages/pandas/core/generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

##### 测试

In [18]:
# 确认进行了正确融合
treatments_clean

,hba1c_start,hba1c_end,hba1c_change,treatment,dose_start,dose_end,adverse_reaction,patient_id
0,7.63,7.20,0.43,auralin,41u,48u,NaN,225
1,7.97,7.62,0.35,auralin,33u,36u,NaN,242
2,7.65,7.27,0.38,auralin,37u,42u,NaN,345
3,7.89,7.55,0.34,auralin,31u,38u,NaN,276
4,7.76,7.37,0.39,auralin,30u,36u,NaN,15
5,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia,70
6,7.70,7.19,0.51,auralin,29u,36u,hypoglycemia,70
7,9.54,9.14,0.40,auralin,29u,38u,NaN,18
8,7.74,7.30,0.44,auralin,27u,37u,NaN,424
9,7.78,7.34,0.44,auralin,55u,68u,NaN,292
10,7.53,7.13,0.40,auralin,28u,37u,NaN,211
11,7.61,7.29,0.32,auralin,29u,39u,NaN,133
12,8.61,8.18,0.43,auralin,53u,60u,NaN,316
13,9.68,9.29,0.39,auralin,31u,41u,NaN,101
14,7.79,7.40,0.39,auralin,42u,51u,throat irritation,451
15,7.81,7.48,0.33,auralin,42u,49u,NaN,335
16,7.70,7.38,0.32,auralin,35u,39u,NaN,389
17,7.96,7.55,0.41,auralin,47u,58u,NaN,71
18,7.68,7.24,0.44,auralin,45u,48u,NaN,297
19,7.92,7.47,0.45,auralin,24u,37u,NaN,188
20,7.92,7.57,0.35,auralin,44u,55u,NaN,282
21,7.53,7.15,0.38,auralin,37u,43u,NaN,174
22,7.67,7.37,0.30,auralin,43u,47u,NaN,146
23,7.86,7.51,0.35,auralin,36u,42u,NaN,35
24,9.18,8.64,0.54,auralin,29u,37u,NaN,350
25,7.61,7.16,0.45,auralin,57u,64u,NaN,220
26,7.52,7.11,0.41,auralin,54u,67u,NaN,102
27,7.71,7.34,0.37,auralin,34u,42u,NaN,181
28,7.87,7.47,0.40,auralin,29u,37u,NaN,466
29,7.74,7.32,0.42,auralin,61u,67u,NaN,205
...,...,...,...,...,...,...,...,...
319,7.98,7.60,0.38,novodra,37u,38u,NaN,187
320,7.61,7.14,0.47,novodra,28u,24u,NaN,234
321,7.99,7.56,0.43,novodra,24u,26u,NaN,479
322,7.73,7.34,0.39,novodra,20u,21u,NaN,49
323,7.71,7.30,0.41,novodra,46u,46u,NaN,356
324,7.54,7.17,0.37,novodra,26u,27u,NaN,208
325,7.51,7.08,0.43,novodra,34u,33u,injection site discomfort,373
326,7.89,7.55,0.34,novodra,30u,35u,NaN,63
327,7.71,7.30,0.41,novodra,33u,33u,NaN,1
328,8.00,7.50,0.50,novodra,35u,34u,NaN,291
329,7.79,7.45,0.34,novodra,30u,27u,NaN,363
330,7.70,7.36,0.34,novodra,37u,41u,NaN,465
331,7.84,7.37,0.47,novodra,43u,40u,NaN,421
332,8.90,8.57,0.33,novodra,34u,34u,injection site discomfort,376
333,7.64,7.24,0.40,novodra,40u,36u,NaN,463
334,7.54,7.26,0.28,novodra,37u,40u,NaN,81
335,7.67,7.21,0.46,novodra,26u,23u,NaN,322
336,9.41,8.94,0.47,novodra,40u,45u,NaN,392
337,7.68,7.36,0.32,novodra,52u,52u,NaN,262
338,7.78,7.39,0.39,novodra,37u,39u,NaN,68
339,7.63,7.25,0.38,novodra,42u,42u,NaN,152
340,7.92,7.52,0.40,novodra,26u,25u,NaN,431
341,7.99,7.70,0.29,novodra,36u,33u,NaN,450
342,7.55,7.18,0.37,novodra,42u,41u,NaN,194
343,7.65,7.26,0.39,novodra,32u,33u,NaN,7
344,7.51,7.06,0.45,novodra,55u,51u,nausea,153
345,7.67,7.30,0.37,novodra,26u,23u,NaN,420
346,9.21,8.80,0.41,novodra,22u,23u,injection site discomfort,336
347,7.96,7.51,0.45,novodra,28u,26u,hypoglycemia,25
348,7.68,7.21,0.47,novodra,42u,44u,injection site discomfort,477

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

In [19]:
# 病人编号应该是唯一复制的一列
all_columns = pd.Series(list(patients_clean) + list(treatments_clean))
all_columns[all_columns.duplicated()]

22    patient_id
dtype: object